<body>
  <div id="wrapper" class="animate">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-5 shadow">
      <div class="container-fluid">
        <a class="navbar-brand">
          <img src="..\assets\images\pic1.jpg" width=15% height=15% alt="Tweet icon" class="tweet-img"><h3>Tweet</h3>
        </a>
        <form [formGroup]="form" class="form-inline my-2 my-lg-0" (ngSubmit)="Search()"> <input id="search"
            class="form-control mr-sm-2" formControlName="username" class="form-control" type="text"
            placeholder="Search"> <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="'/USER'" routerLinkActive="router-link-active"><i
                  class="fas fa-home icon-link"></i>Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" style="color:black;">
                <i class="fas fa-user icon-link"></i> Me
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" routerLink="/CHANGEPASSWORD" routerLinkActive="router-link-active"><i
                    class="fas fa-cog icon-link"></i> Settings and Privacy</a>
                <a class="dropdown-item" routerLink="/VIEW PROFILE" routerLinkActive="router-link-active"><i
                    class="fas fa-user icon-link"></i> Profile</a>
                <a class="dropdown-item" [routerLink]="'/HOME'" routerLinkActive="router-link-active"
                  (click)="logout()"><i class="fas fa-sign-out-alt icon-link"></i> LogOut</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br><br><br>
    <div class="container-fluid gedf-wrapper">
      <div class="row">
        <div class="col-md-9 gedf-main">

          <!--- \\\\\\\Post-->
          <app-posttweet></app-posttweet>
          <!-- Post /////-->
          <app-viewtweets></app-viewtweets>
        </div>
        <div class="col-md-3">
          <div class="card gedf-card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">People</h6>
              <ng-container *ngFor="let items of list">
                <div><img class="card-img-top" src="../assets/images/{{items.imageName ? items.imageName : 'defaultprofilepic.png'}}"
                    style="height:40px; width:45px;">&nbsp;
                  <button class="btn-link" (click)="SearchUser(items)" style="border: none;">{{items.userName}}
                  </button></div>
                <div> {{items.email}}</div>
                &nbsp;
              </ng-container>
              <a class="card-link" *ngIf="clickedMoreButton[6]">See More...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>